<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <div class="container">
        <input type="text" placeholder="" v-model="val" @keyup.13="add" class="form-control" ref="cc">
        <div>
            <p v-once>{{val}}</p>
            <ul class="form-group">
                <li v-for="(item,index) in arr" class="list-group-item">{{item}}
                    <button class="btn btn-danger btn-sm" @click="deleteCur(index)">删除</button>
                </li>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">

    //在vue中 input的value select的selected textarea的value checkbox radio这些选中的值默认是没有是意义的
    //默认给v-model才能给这些指赋值

    let vm = new Vue({
        el: '#app',
        data: {
            val: '',
            arr: []
        },
        methods: {
            add(e) {
                if (!this.val) return;
                this.arr.unshift(this.val);
                sessionStorage._savetoTouInfo = JSON.stringify(this.arr);
                this.val = '';
            },
            deleteCur(curIndex) {
                this.arr = this.arr.filter(function (item, index) {
                    return curIndex !== index;
                });
                sessionStorage._savetoTouInfo = JSON.stringify(this.arr);
            }
        },
        mounted() {
            this.arr = sessionStorage._savetoTouInfo ? JSON.parse(sessionStorage._savetoTouInfo) : [];
        }
    });

</script>

</body>
</html>